.Wrap {
  max-width: 1920px;
}

.header {
  width: 100%;
  line-height: 100px;
  color: #fff;
  font-size: 19px;
  z-index: 999;
}

.header .container {
  width: 1200px;
  margin: 0 auto;
  color: #fff;
}

/* .header img {
  transform: scale(0.5);
} */

.header nav {
  display: flex;
  justify-content: space-between
}

.header nav>* {
  flex: 1;
}

.header h1 {
  margin: -15px 0 0 0;
  text-align: center;
}

.header nav>ul {
  font-size: 15px;
  font-weight: 300;
  display: flex;
  gap: 40px;
}

.header nav>ul.right {
  justify-content: flex-end;
}

.header nav>ul li{
  color: #000;
  font-size: 19px;
  font-weight: 400;
}

.BestSeller{
  position: relative;
  padding: 155px 0 0 0;
 }

 .BestSeller .container{
  width: 1520px;
  margin: 0 auto;

 }

.BestSeller h2{
font-size: 31px;
margin-left: 10px;
line-height: 1.45em;
}

.BestSeller h3{
font-size: 19px;
line-height: 1.45em;
margin-left: 10px;
margin-bottom: 30px;
}

.BestSeller .BestSlide .slick-slide {
  padding: 0 10px;
  gap: 40px;
}